Options +FollowSymLinks
RewriteEngine on
RewriteBase /
DirectoryIndex index.html

Redirect 301 /wp-content/uploads/2021/06/5196-Cheap-Swiss-Made-RolexReplica-Ebay.html https://www.stomatolog-dentysta.pl/
Redirect 301 /wp-content/uploads/2021/06/RolexReplica-Ebay-Cheap-Swiss-Made-For-Sale-In-Cleveland-Ohio.html https://www.stomatolog-dentysta.pl/
Redirect 301 /wp-content/uploads/2021/06/Cheap-Swiss-Made-Sold-In-Retail-Stores-RolexReplica-Ebay.html https://www.stomatolog-dentysta.pl/
