Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
Header set X-Frame-Options "ALLOW-FROM URL"
Header set X-Content-Type-Options nosniff
Header set Referrer-Policy "same-origin"
#Header always set Permissions-Policy "geolocation=(), midi=(),sync-xhr=(),accelerometer=(), gyroscope=(), magnetometer=(), camera=(), fullscreen=(self)"

Options +FollowSymLinks
RewriteEngine on
RewriteBase /
DirectoryIndex index.html

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{QUERY_STRING} (^|&)yandex-source=desktop-maps(&|$)
RewriteRule ^$ https://www.stomatolog-dentysta.pl/? [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/index\.html\?dentystastomatolog=3\s [NC]
RewriteRule ^index\.html$ /? [R=301,L]

#Przekierowanie na index.html
RewriteCond %{REQUEST_URI} !/index\.html [NC]
RewriteCond %{REQUEST_FILENAME} index\.php [NC]
RewriteRule ^(.*)index\.php$ $1index.html [R=301,L,NC]

# Jeśli nie ma końcowego slasha i nie jest plikiem/folderem fizycznym
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+[^/])$ /$1/ [R=301,L]

Redirect 301 /wp-content/uploads/2021/06/5196-Cheap-Swiss-Made-RolexReplica-Ebay.html https://www.stomatolog-dentysta.pl/
Redirect 301 /wp-content/uploads/2021/06/RolexReplica-Ebay-Cheap-Swiss-Made-For-Sale-In-Cleveland-Ohio.html https://www.stomatolog-dentysta.pl/
Redirect 301 /wp-content/uploads/2021/06/Cheap-Swiss-Made-Sold-In-Retail-Stores-RolexReplica-Ebay.html https://www.stomatolog-dentysta.pl/
Redirect 301 /?dentystastomatolog=3 https://www.stomatolog-dentysta.pl/